.kitchenBG{
    position: relative;
    width: 1350px;
  height: 650px;
  perspective: 1000px;
}
#cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}
#cube figure {
  margin: 0;
  display: block;
  position: absolute;
  border: 5px solid black;
}

#cube .right  {
    height:620px;
    width:100px;
    left:1178px;
    top:9px;
    background:-webkit-linear-gradient(left,#761c19, yellow);
    transform: rotateY(  90deg ) translateZ( 90px );
}
#cube .left   {
    height:620px;
    top:10px;
    left:-30px;
    width:100px;
    background:-webkit-linear-gradient(left,#761c19, yellow);
    transform: rotateY(  90deg ) translateZ( 00px );
}
#cube .top    {
    width: 1350px;
    height:190px;
    left:-10px;
    background:-webkit-linear-gradient(left,#761c19, yellow);
    transform: rotateX(  90deg ) translateZ( 100px );
}
#cube .bottom {
    width: 1300px;
    height:100px;
    left:20px;
    top:182px;
    background:-webkit-linear-gradient(left,#761c19, yellow);
    transform: rotateX( -90deg ) translateZ( 400px );
}
